#henryAds{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100em;
    position:relative;
    left:150px;
}

img.ads{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:left;
}